[Unit]
Description=paula

[Service]
ExecStart=/home/mher/projects/littlepaula/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/mher/projects/littlepaula/

[Install]
WantedBy=multi-user.target